       /* 搜索框和按钮样式优化 */
       .search-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    #user-search {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        width: 200px;
        transition: border-color 0.3s ease;
    }

    #user-search::placeholder {
        color: #999;
    }

    #user-search:focus {
        border-color: #66afe9;
        outline: none;
    }

    #search-button {
        padding: 8px 15px;
        border: 1px solid #007BFF;
        background-color: #007BFF;
        color: white;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #search-button:hover {
        background-color: #0056b3;
    }

    /* 统一分页样式 */
   .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

   .pagination a {
        margin: 0 5px;
        text-decoration: none;
        color: #333;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 4px;
    }

   .pagination a:hover {
        background-color: #eee;
    }

   .pagination a.active {
        background-color: #007BFF;
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th,
    table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    table th {
        background-color: #f0f0f0;
    }

    table tbody tr:hover {
        background-color: #f9f9f9;
    }

    @media (max-width: 768px) {
       .nav-links {
            display: none;
        }

       .user-info {
            margin-top: 10px;
        }

        table {
            font-size: 14px;
        }
        .white-container {
            padding: 10px;
            margin: 10px;
        }
    }

    /* 新增白色层样式 */
   .white-container {
        background-color: white;
        /* border: 1px solid #ccc; */
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 20px;
    }

   .white-container table {
        max-width: 100%;
        overflow-x: auto;
    }